/*Two fonts from google Fonts, Poppins for headers, and Open sans for the body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
/* When clicking the Nav bar it makes the trasition smooth and not jarring*/
.screen-reader-text { 
   border:0;   
   clip: rect(1px, 1px, 1px, 1px); 
   clip-path: inset(50%);
   height: 1px; 
   margin: -1px;
   width: 1px; 
   overflow: hidden; 
   position: absolute !important;
   word-wrap:normal !important;
}

html{
	scroll-behavior: smooth;
}
/* Gives the top most element a margin so it dosen't hug the edges of the page.*/
header {
	margin: 10px 0;
}
/*Aligns the Nav bar to the name horizontally */
.logo{
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*Headers are set in Poppins bold
brings the line and h3 closer to the h1 */
h1{
	margin-bottom: -10px;
	font-family: Poppins, Helvetica, Arial, "sans serif";
	font-weight: 600;
	font-size: 32pt;
}
/*Everything else is set to Open sans regular
Color to a dark grey to help bring Heiarchy
padding left bisually aligns the 'S' with the other "s" */
h3{
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-weight: 400;
	font-size: 14pt;
	color: #515259;
}
/*Set the width and height of the .png as well as visually aligning it with the S in Steven*/
.line {
	align-self: center;
	width: 300px;
	height: 5px;
}
/*Puts the nav bar on the right side of the page*/
nav  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 40px;
}	
/*Sets font standards and gives each navigation element room to breath */
nav a {
	margin-right: 20px;
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-weight: 400;
	font-size: 16pt;
	color: #515259;
}
/*Setting everything in a column and down the center of the page for mobile*/
main {
	padding: 20px 20px;
}

main img {
	width: 100%;
}

.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 1;
	margin: 20px;
}

/*Styles the font for the text*/
h2 {
	font-family: "Poppins", Helvetica, Arial, "sans serif";
	font-weight: 600;
	font-size: 24pt;
	margin-bottom: -10px;
}

p {
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-weight: 400;
	font-size: 16pt;
	line-height: 24pt;
}
/*Changes the style of the ol so that it can bring some more attention to it,
and room to breath*/
ol {
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-weight: 400;
	font-size: 16pt;
	list-style: none;
 	counter-reset: hobbies;
 	padding: 0px 5px 0px 0px;
 	line-height: 30px;
}

ol li {
  counter-increment: hobbies;
}

ol li::before {
  content: counter(hobbies) ". ";
  color: #00AEEF;
  font-weight: bold;
}
/*General styling*/
ul {
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-weight: 400;
	font-size: 16pt;
	list-style-type: none;
	padding: 0px 5px 0px 0px;
	line-height: 30px;
}
/*Makes the rules have the same styling as the line at the top of the page.*/
hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
	background: linear-gradient(110deg, #00AEEF 60%, #F59721 60%);
	border: none;
}

form {
	margin-left: -20px;
}

input[type=text] {
	padding: 15px 10px;
	margin: 10px 0;
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-size: 16pt;
}

form input,
form textarea {
	width: 100%
}

form textarea {
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-size: 16pt;
}

button {
	border: none;
	border-radius: 10px;
	background-color: #00AEEF;
	color: white;
	padding: 15px 50px;
	margin-top: 10px;
	font-family: "Open Sans", Helvetica, Arial, "sans serif";
	font-size: 16pt;
}

button:hover {
	background-color: #F59721
}

/*Styles the links with the colors of the rule at the top of the page.
These style the nav bar and the contact links*/
.links a:link    { 
	color: #00AEEF; 
	text-decoration: none;
 }

.links a:visited {
	color: #00AEEF; 
	text-decoration: none;
}

.links a:hover { 
	color: #F59721; 
	text-decoration: none;
}

.footer-links:active { 
	color: #F59721;
	text-decoration: none;
	 }
/*These are for the links in the footer which need differnt styling for people who
are hard of seeing. This ups the contrast*/
.footer-links:link    { 
	color: #ffffff; 
	text-decoration: none;
	font-weight: bold;
 }

.footer-links:visited {
	color: #ffffff; 
	text-decoration: none;
	font-weight: bold;
}

.footer-links:hover { 
	color: #ffffff; 
	text-decoration: underline;
	text-decoration-color: #F59721;
	font-weight: bold;
}

.footer-links:active { 
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: #F59721;
	font-weight: bold;
	 }
/*Styles the footer into it's own section as well as giving it the color to match
the rule at the top of the page.*/
footer {
	display: flex;
  	flex-direction: : row;
  	padding: 30px 30px 20px 50px;
  	color: #ffffff;
  	background: linear-gradient(110deg, #00AEEF 60%, #F59721 60%);
  	border-top: 1px solid #e5e5e5;
}

/*changes design from a column based design to a row based design when on desktop*/

@media all and (min-width: 1000px) {

	  header {
		margin: 20px 0 10px 50px;
	}

	.logo{
		display: flex;
		align-items: flex-start;
		margin-bottom: -60px;
	}

	h3{
		padding-left: 2px;
	}

	.line {
		align-self: flex-start;
		margin-left: 1px;
	}

	nav  {
		display: flex;
		justify-content: flex-end;
		margin-right: 50px;
	}

	section {
	    padding: 0 10%;
	  }

	.group {
	    flex-direction: row;
	  }

	  hr {
	  	width: 85%;
	  }
}